body {
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Road Rage;
}
h1 {
  font-size: 45px;
  margin: 60px 0 60px 30px;
  color: cornsilk;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif, Road Rage;
  margin-left: 15px;
  font-size: 15px;
  padding: 1px;
}
.holder > div {
  position: relative;
  height: 450px;
  width: 33%;
  margin: 30px;
  border-radius: 5px;
  /* overflow: hidden; */
}
.holder {
  display: flex;
  border-radius: 0;
  margin-top: 60px;
  width: 100%;
}
#frst {
  background-image: url("../img/gotbanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
#scnd {
  background-image: url("../img/plpfctnn.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
#thrd {
  background-image: url("../img/squid-game-movie-poster.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
#frst::after {
  position: absolute;
  content: "Action";
  left: 30px;
  top: -10px;
  background-color: rgb(91, 197, 127);
  border-radius: 3px;
  font-style: italic;
  text-align: center;
  width: 60px;
  height: 20px;
}
#scnd::after {
  position: absolute;
  content: "Crime";
  font-style: italic;
  left: 30px;
  top: -10px;
  background-color: rgb(91, 197, 127);
  border-radius: 3px;
  text-align: center;
  width: 60px;
  height: 20px;
}
#thrd::after {
  position: absolute;
  content: "Advent";
  font-style: italic;
  left: 30px;
  top: -10px;
  background-color: rgb(91, 197, 127);
  text-align: center;
  border-radius: 3px;
  width: 70px;
  height: 20px;
}
.footer {
  opacity: 88%;
  background-color: rgb(241, 239, 239);
  width: 100%;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
